<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="./static/images/favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

	<!-- Bootstrap CSS -->
	<link href="./static/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="./static/css/tiny-slider.css" rel="stylesheet">
	<link href="./static/css/style.css" rel="stylesheet">
	<title>Hacker tool</title>
</head>

<body>

	<!-- Start Header/Navigation -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

		<div class="container">
			<a class="navbar-brand" href="index.html">Method Seller<span>.</span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
				aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
					<li><a class="nav-link" href="emvshop.html">EMV Tools</a></li>
					<li><a class="nav-link" href="sites.html">Trusted Cloning Sites</a></li>
					<li><a class="nav-link" href="dcc.html">Done Clone Cards</a></li>
					<li><a class="nav-link" href="contact.html">Who Are We?</a></li>
				</ul>
			</div>
		</div>

	</nav>
	<!-- End Header/Navigation -->

	<!-- Start Hero Section -->
	<div class="hero">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-5">
					<div class="intro-excerpt">
						<h1>Are you looking for the right EMV Tools? <span clsas="d-block"> Get it from a real
								scammer</span></h1>
						<p class="mb-4">All method sold on this site are for educational purpose.
							We will teach you how scammer make Billion Dollars every single day.
							I wil teach you and provide you with the real tools.
						</p>
						<p><a href="https://t.me/+WzJqekKf7bRlZTQx" class="btn btn-white-outline">Telegram</a></p>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="hero-img-wrap">
						<img src="/static/images/couch.png" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Hero Section -->

	<!-- Start Product Section -->
	<div class="product-section">
		<div class="container">
			<div class="row">

				<!-- Start Column 1 -->
				<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
					<h2 class="mb-4 section-title">Crafted Method done by real scammer.</h2>
					<p class="mb-4">Unlock the secrets of the digital underworld with our exclusive online store.
						Dive into the world of EMV tools and EMV clone carding secrets, empowering you to stay ahead in
						the game.
						Explore our curated collection sourced directly from real-world scammers, ensuring authenticity
						and effectiveness.
						But that's not all – gain access to the darkest corners of the internet with our real dark
						website for online fraud.
						Elevate your skills and take control of your destiny.
						Are you ready to unleash your potential? Join us today.</p>
					<p><a href="shop.html" class="btn">Click here to order</a></p>
				</div>
				<!-- End Column 1 -->

				<!-- Start Column 2 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
					<div class="card-deck">
						<div class="card">
							<img src="/static/images/product-2.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">EMV Tools & Plus</h5>
								<p class="card-text">Revolutionize your carding game with our cutting-edge EMV tools
									site.
									Access premium EMV software at unbeatable prices, making high-level carding
									accessible to all.
									Stay ahead of the competition without breaking the bank – shop now!</p>
							</div>
							<div class="card-footer">
								<strong class="product-price">$25.00</strong>
								<a href="#"> Buy Here
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- End Column 2 -->
				<!-- Start Column 3 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
					<div class="card-deck">
						<div class="card">
							<img src="/static/images/product-1.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Affordable Clone Cards</h5>
								<p class="card-text">Experience financial freedom with our premium Affordable Clone
									Cards.
									With balances ranging from $120 to $500, unlock endless possibilities without hefty
									price tags.
									Pay only for your card and shipping – no hidden fees, just seamless transactions.
								</p>
							</div>
							<div class="card-footer">
								<strong class="product-price">$20.00 <span>(any amount & any card)</span></strong>
								<a href="#"> Buy Here
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- End Column 3 -->
				<!-- Start Column 4 -->
				<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
					<div class="card-deck">
						<div class="card">
							<img src="/static/images/product-3.png" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Trusted Sites</h5>
								<p class="card-text">Discover the hidden depths of the internet with our premium dark
									website info.
									Dive into a world of legitimate offerings at unbeatable prices, tailored for savvy
									individuals like you.
									Uncover secrets, navigate safely, and empower your digital journey with us.</p>
							</div>
							<div class="card-footer">
								<strong class="product-price">$10.00</strong>
								<a href="#"> Buy Here
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- End Column 4 -->

			</div>
		</div>
	</div>
	<!-- End Product Section -->

	<!-- Start Why Choose Us Section -->
	<div class="why-choose-section">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-6">
					<h2 class="section-title">Why Choose Us</h2>
					<p>Choose us for unparalleled access to EMV tools, trusted dark web links, and affordable cloning
						cards, ensuring your success in the digital realm.</p>

					<div class="row my-5">
						<div class="col-6 col-md-6">
							<div class="feature">
								<h3>Fast Shipping</h3>
								<p>Because our price are so low, all shipping cost is handle by you our customer,
									we will insure all clone card are shipped fast and on time.
								</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<h3>Easy to Shop</h3>
								<p>Our shopping experience allow you to pay and send a custom for with your payment tag,
									so we send you your tools and good in the right direction.
								</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<h3>24/7 Support</h3>
								<p>For any question please reach out on our telegram group to assist you anywhere</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<h3>Legal</h3>
								<p>All method sold on this site are for educational purpose. <a href="contact.html">See Here</a>
								</p>
							</div>
						</div>

					</div>
				</div>

				<div class="col-lg-5">
					<div class="img-wrap">
						<img src="./static/images/why-choose-us-img.png" alt="Image" class="img-fluid">
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- End Why Choose Us Section -->

	<!-- Start Footer Section -->
	<footer class="footer-section">
		<div class="container relative">

			<div class="sofa-img">
				<img src="/static/images/sofa.png" alt="Image" class="img-fluid">
			</div>

			<div class="row g-5 mb-5">
				<div class="col-lg-4">
					<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Method Seller<span>.</span></a>
					</div>
					<p class="mb-4">All method sold on this site are for educational purpose. We will teach you how
						scammer make Billion Dollars every single day. I wil teach you and provide you with the real
						tools.</p>

					<!-- <ul class="list-unstyled custom-social">
						<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
					</ul> -->
				</div>

				<!-- <div class="col-lg-8">
					<div class="row links-wrap">
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">About us</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Blog <span>(coming soon)</span></a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Support</a></li>
								<li><a href="#">Knowledge base</a></li>
								<li><a href="#">Contact us</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Our team</a></li>
								<li><a href="#">Leadership</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Payments</a></li>
								<li><a href="#">Swags</a></li>
								<li><a href="#">Get educated on Fraud</a></li>
							</ul>
						</div>
					</div>
				</div> -->

			</div>

			<div class="border-top copyright">
				<div class="row pt-4">
					<div class="col-lg-6">
						<p class="mb-2 text-center text-lg-start">Copyright &copy;
							<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;
							Designed with love by <a>Money Glitch</a>
							<!-- License information: https://untree.co/license/ -->
						</p>
					</div>

					<div class="col-lg-6 text-center text-lg-end">
						<ul class="list-unstyled d-inline-flex ms-auto">
							<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>

				</div>
			</div>

		</div>
	</footer>
	<!-- End Footer Section -->


	<script src="./static/js/bootstrap.bundle.min.js"></script>
	<script src="./static/js/tiny-slider.js"></script>
	<script src="./static/js/custom.js"></script>
</body>

</html>